@media (max-width: 768px) {
    #example {
        display: none;
    }
}

@media (max-width: 768px) {
    #button {
        display: none;
    }
}

@media (max-width: 768px) {
    #recipients {
        display: none;
    }
}

#recipients {
    height: 420px;
}