@media (max-width: 509px) {
    #example {
        display: none;
    }
}

@media (max-width: 768px) {
    #button {
        display: none;
    }
}

@media (max-width: 509px) {
    #recipients {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    #bodyoverview {
        width: 50vh;
    }
}

/* @media screen and (min-width: 500px) and (max-width: 635px) {
    #bodyoverview {
        width: 75vh;
    }
} */

@media screen and (min-width: 640px) and (max-width: 1200px) {

    #bodyoverview,
    #ct,
    #username {
        margin-left: 100px;

    }
}

#recipients {
    height: 420px;
}