@media (max-width: 320px) {
    #alert-message {
        margin-right: 0px;

    }


}

@media (min-width: 375px) {
    #alert-message {
        margin-right: 0px;
    }

}

@media (max-width: 384px) {
    #alert-message {
        margin-right: 0px;
    }

    .textgreen {
        text-align: center;
    }

}

@media only screen and (max-width: 414px) {
    #alert-message {
        margin-right: 0px;
    }

    .barchart {
        margin-left: 35px;
        margin-right: 25px;
    }

    .textgreen {
        text-align: center;
    }

    .recipientcontainer {
        overflow-x: hidden;

    }

    #recipients {
        overflow-x: scroll;
    }

}

@media only screen and (max-width: 600px) {


    .barchart {
        margin-left: 50px;
        margin-right: 35px;
    }

    .recipientcontainer {
        margin-left: 0.875rem;


    }

    #recipients {
        margin: 0;
        width: 100%;

    }

    .textgreen {
        text-align: center;
    }





}

@media (max-width:800px) {
    #incomebody {
        justify-content: center;
    }

    .incomeparent {
        width: 85%;
    }

    .barchart {
        margin-left: 50px;
        margin-right: 35px;
    }

    .recipientcontainer {
        margin-left: 0.875rem;
    }

    #recipients {
        margin: 0;
        width: 100%;
    }

    .textgreen {
        text-align: center;
    }


}

@media screen and (min-width: 800px) and (max-width: 1023px) {
    #incomebody {
        justify-content: center;
    }

    .incomeparent {
        width: 85%;
    }

    .recipientcontainer {
        margin-left: 0.875rem;
    }

    #recipients {
        margin: 0;
        width: 100%;
    }

    .textgreen {
        text-align: center;
    }



}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .incomeparent {
        margin-left: 300px;
    }

    .barchart {
        margin-left: 300px;

    }

    .incomeparent {
        width: 64%;
    }

    .recipientcontainer {
        width: 200%;
        margin-left: 300px;
    }

    #alert-message {
        margin-left: 300px;
        margin-right: 65px;
    }

    .time {
        margin-left: 300px;
    }

    .textgreen {
        text-align: center;
    }

    .incomeheader {
        margin-left: 300px;
    }


}


@media screen and (min-width: 1280px) and (max-width: 1280px) {

    .recipientcontainer {
        margin-left: 15px;
    }

    #recipients {
        margin-right: 0;
    }
}