@media (max-width: 1280px) {
    .incomeparent {

        width: 100%;
    }

    .incomechilds2 {
        margin: 0 auto 20px;
        width: 50%;
        display: block;
    }

    .monthlyreport {
        display: block;
        margin: 0 auto;
        width: 650px;

    }

    #incomebody {
        justify-content: center;
    }

    #alert-message {
        margin-left: 15px;
    }
}

@media (max-width:768px) {
    .barchart {
        margin-left: 0.875rem;
    }

    .recipientcontainer {
        margin-left: 0.875rem;
    }

    #recipients {
        margin: 0;
        width: 100%;
    }
}

@media (max-width:700px) {

    .monthlyreport,
    .incomechilds2 {
        width: 100%;
    }
}

@media (max-width:500px) {
    #incomebody {
        padding: 0 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
    .recipientcontainer {
        padding-left: 50px;
    }
}