body {
    margin: 0;
    padding: 0;
}

.item {
    transition: .35s;
}

.item:hover {
    opacity: 1;
    transform: scale(1.1);
}

.hero {
    width: 100%;
    height: auto;
    min-height: 760px;
    background-size: cover;
    object-fit: cover;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px;
    background-image: conic-gradient(from 233deg at 50% 50%, #FBFFFCFF 2%, #18A14D 100%),conic-gradient(from 229deg at 50% 50%, #FBFFFCFF 2%, #18A14D 100%);
}

.landing-page-img {
    width: 100%;
    height: 50%;
    margin-top: 100px;
    object-fit: cover;
    border-radius: 20px;
    mix-blend-mode: multiply;
}

.features-img {
border-radius: 30px;
object-fit: cover;
}

.overview {
    width: 100%;
    height: 100%;
}

.how-budget {
    object-fit: cover;
}

.navbar {
    position: fixed;
    transition: 0.1s;
}
.navbar-scrolled {
    background-color: black;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.card-image a {
    text-decoration: none;
    color: #1B6202;
    transition: 35s;
}

.card-image a:hover {
    text-decoration: none;
    color: #1c62029d;
    opacity: 1;
    transform: scale(1.1);
}

.card-image:hover {
    opacity: 1;
    transform: scale(1.1);
}

#section-container {
    color: #1B6202;
    transition: 35s;
}

.image {
    border-radius: 30px;
    box-shadow: -23px 31px 17px rgba(36, 52, 38, 0.6);
    object-fit: cover;
}

.imageNobg {
    mix-blend-mode: darken;
    width: 30%;
}

.section-title h2{
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1B6202;
}

.section-title h2 ::after {
    content: "";
    width: 120px;
    height: 1px;
    background: #1B6202;
    display: inline-block;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #151515;
}

.team .member {
    text-align: center;
    background-color: #858585;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 25px rgba( 0 0 0 / 10%);
}

.team .member img {
    border-radius: 10px;
    overflow: hidden;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.team .member h4 {
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 2px;
    font-size: 20px;
    color : white;
}

.team .member span {
    font-style: italic;
    display: block;
    font-size: 14px;
    color: white;
}

.team .member .social {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.team .member .social a {
    color: rgb(233, 233, 233);
    transition: 0.3s;
    border-radius: 50%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #bbbb;
    padding: 5px;
}

.backdrop-blur {
    backdrop-filter: blur(5px);
    background-color: rgba (225,225,225,0.9);
    padding: 10px;
}
.blur-none {
    backdrop-filter: none;
    background-color: transparent;
  }

  .accordion-item {
    padding: 10px;
  }

  .card-img-top {
    width: 15%;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin-top: 10px;
    padding: 10px;
  }