@media (min-width:1024px) and (max-width: 1279px) {
    .maincontainer {
        margin-right: 70px;
    }
}

@media (min-width:1920px) {
    .maincontainer {
        margin-left: 300px;
    }
}

.sticky.scrolled {
    position: fixed;
    top: 0;
    left: 0;
}