@media only screen and (max-width: 414px) {

    .time {
        margin-left: 15px;
    }

    .tableviews {
        margin-left: 15px;
    }

}

@media only screen and (max-width: 600px) {


    .time {
        margin-left: 15px;
    }

    .tableviews {
        margin-left: 15px;
    }

    #recipients {
        overflow-x: scroll;
    }


}

@media (max-width:768px) {

    .time {
        margin-left: 25px;
    }

    .tableviews {
        margin-left: 25px;
    }

}


@media screen and (min-width: 800px) and (max-width: 1023px) {}

.time {
    margin-left: 15px;
}

.tableviews {
    margin-left: 15px;
}



@media screen and (min-width: 1024px) and (max-width: 1260px) {
    .time {
        margin-left: 275px;
    }

    .tableviews {
        width: 75%;
        margin-left: 270px;
    }


}